<div class="jumbotron text-center">
    <div class="container">
        <h1>Blog Williams</h1>
        <p>This is a blog by Ben Williams.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Villiers Park - Computer Science Blog</h3>
            <ul>
                <li><a href="/posts/hello_world/">Blog 1</a></li>
            </ul>
	    <ul>
                <li><a href="/posts/billy/">Billy</a></li>
            </ul>
    </div>
  </div>
</div>
<div class = "row">
   
   <div class = "col-sm-6 col-md-3">
      <div class = "Ben's Blog">
         
      </div>
      
      <div class = "caption">
         <h3>Andrew</h3>
         <p>This button links you to my teams blogs</p>
         
         <p>
            <a href = "#" class = "btn btn-default" role = "button">
               Andrew's Blog
            </a> 
            
            <a href = "#" class = "btn btn-default" role = "button">
               Image of Andrew
            </a>
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      
      <div class = "caption">
         <h3>Leah</h3>
         <p>This button links you to my teams blogs</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Leah's Blog
            </a> 
            
            <a href = "#" class = "btn btn-default" role = "button">
               Image of Leah
            </a>
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
     
      <div class = "caption">
         <h3>Ayesha</h3>
         <p>This button links you to my teams blogs</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Ayesha's Blog
            </a> 
            
            <a href = "#" class = "btn btn-default" role =" button">
               Image of Ayesha
            </a>
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      
      
      <div class = "caption">
         <h3>Ben</h3>
         <p>This button links you to my blog</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Ben's Blog
            </a> 
            
            <a href = "#" class = "btn btn-default" role = "button">
               Image of Ben
            </a>
         </p>
         
      </div>
   </div>
   
</div>

