<div class="jumbotron text-center">
    <div class="container">
        <h1>Blog Williams</h1>
        <p>This is a blog by Ben Williams.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Villiers Park - Computer Science Blog</h3>
            <ul>
                <li><a href="/posts/blogs/">Blog 1</a></li>
            </ul>
    </div>
  </div>
</div>
