<div class="container">
    <div class="row">
        <h3>Blog - 1</h3>
        <p>What would I like to get out of this course?
Firstly any additional help with computer science with compliment and further my understanding of the subject, the reason I would like this is that I would like to take computer science in university, which brings me onto my next point – completing this course will not only extend my knowledge of computer science but will also be a recognised attribute to my application and will hopefully allow me to stand out from other applicants. Computer science has been a very firm interest of mine for some time and so any information on the topic will have me hooked. Conclusively the number one aim for me on this course will be to gain as much information on the subject as possible and to aid in my study! </p>
    </div>
  </div>
</div>
